/**
 * Variables
 * ----------------------------------------------------------------------------
 */

/* Colors */
$background: #fefefe;
$alabaster: #fafafa;
$gallery: #ededed;
$gray: #818181;
$mine-shaft: #333333;
$picton-blue: #22b3eb;
$silver: #000000;
$tundora: #2fe2b5;
$white: #ffffff;
$tag_color: $picton-blue;
$tag_text_color: #ffffff;
